.note {
    display: inline-block;
    background-color: #535353;
    border-color: #505050;
    height: 50px;
    width: 50px;
    border-radius: 8px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    margin-right: 5px;
    margin-bottom: -2px;
}

.note:hover {
    cursor: pointer;
  }

.note.active {
    background-color: #00dFc3;
}
