.note {
    display: inline-block;
    background-color: #535353;
    border-color: #505050;
    height: 50px;
    width: 50px;
    border-radius: 8px;
    margin-right: 5px;
    margin-bottom: -2px;
    -webkit-transition: all ease-in-out .15s;
    transition: all ease-in-out .15s;
}

.note:hover {
    cursor: pointer;
  }

.note.current {
    opacity: .3;
}
