body {
    background-color: #000;
}

$colors: (1:#00dFc3, 2:#0f0, 3:#B100FF);

@each $value, $color in $colors {
    .grid-container .grid-row:nth-child(#{$value}) .note.active {
        background-color: $color;
    }
    .grid-container .grid-row:nth-child(#{$value}) .note:hover {
        box-shadow: 0 0 10px 0 $color inset, 0 0 2px 0px $color;
        border: 0px solid $color;
    }
}